body {
  position: relative;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


#paperPlane {
  position: absolute;
  width: 50px;
  height: auto;
  transform-origin: center center;
  transition: transform 0.2s ease-out, left 0.2s ease-out, top 0.2s ease-out;
  z-index: 99999999999999999;
  visibility: visible;
}

#subtitle {
  color: white;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 4%;
  background-color: #005cb5;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
  padding: 0 2rem 2rem 2rem;
  background-color: rgb(248, 252, 254);
  box-sizing: border-box;
  position: relative;
}

.header-container {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  position: relative;
}

header {
  background: linear-gradient(90deg, rgba(117, 222, 255, 1) 0%, rgba(0, 83, 159, 1) 100%);
  text-align: center;
  color: white;
  padding: 2.5%;
  width: 95%;
  position: relative;
  justify-content: center;
  align-items: center;
}

#presentazione{
  width: 50%;
}


#airplane {
  position:absolute;
  top: -24%;
  right: 91%;
  width: 22%;
  height: auto;
  z-index: 909;
  transform: rotate(80deg);
  transform-origin: center bottom;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  #presentazione{
    width: 70% !important;
  }
  #airplane{
    width: 45%;
    right: 83%;
    top: -20%;
  }
  #slider {
    position: relative !important ;
    width: 80% !important;
    margin: 10% 20% 30% !important;
  }
  #frisi{
    position: relative !important;
    width: 80% !important;
    margin: 10% 12% !important;
  }
  #imparato{
    width: 70% !important;
  }
  .section-with-border::before{
    left: 9px !important;
  }
  #diffBar::before{
    right: 25px !important;
  }
  .section-with-border{
    padding-left: 39px !important;
  }
  #sensazioni{
    width: 69% !important;
  }
  #difficoltà{
    width: 50% !important;
    left: 40% !important;
  }
  #diffTitle{
    left: 55% !important;
  }
  #paperPlane{
    visibility: hidden;
  }
  #frisi{
    width: 86% !important;
    margin-right: 13% !important;
  }
}

@media (min-width: 1024px){
  #slider{
    margin-top: 12% !important;
    width: 40% !important;
  }
  #airplane{
    width: 30% !important;
    right: 87% !important;
    top: -20% !important;
  }
  #frisi{
    position: relative !important;
    width: 80% !important;
    margin: 10% 12% !important;
  }
}
@media (min-width: 1440px){
  #slider{
    top: 12% !important;
    width: 40% !important;
  }
  #airplane{
    width:21% !important;
    right: 91% !important;
    top: -26% !important;
  }
  #frisi{
    position: relative !important;
    width: 73% !important;
    margin: 10% 15% !important;
  }
}
@media (min-width: 2560px){
  #slider{
    top: 2% !important;
    width: 31% !important;
  }
  #airplane{
    width:21% !important;
    right: 91% !important;
    top: -60% !important;
  }
  #frisi{
    position: relative !important;
    width: 63% !important;
    margin: 10% 20% !important;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}


#slider {
  position: absolute;
  width: 28%;
  margin: auto;
  overflow: hidden;
  top: 23%;
  right: 10%;
  z-index: 999999999999999999;
  border-radius: 3%;
  box-shadow: 0 0 30px 2px black;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  
}

.slides img {
  width: 100%;
  flex-shrink: 0;
  
}

#slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(0.7rem, -0.229rem + 2.476vw, 2rem);
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  width: 10%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

#frisi{
  position: absolute;
  width: 34%;
  top: 30%;
  right: 3%;
  box-shadow: 0 0 20px 1px black;
  border-radius: 10px;
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}